<a href="https://colab.research.google.com/github/ahmedfathi1/Project-2/blob/main/Project_2_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTw3ViyzRmoFqMklP0cJYLB45pzX0l_wBY_vB_KxE9c50o3QM9wI3qxMJPTD-qfmVeNKsXCw6HAYuj0/pub?output=csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [ ]:
# First choice: Stroke Prediction Data

# 1. Source of data
  # Data was pulled from Kaggle.com

# 2. Brief description of data
  # The data is looking at a patient's gender, age, various diseases, and smoking status to determine their chances of getting a stroke

# 3. What is the target?
  # The target is to predict stroke occurance in patients based off of varying parameters

# 4. What does one row represent? (A person?  A business?  An event? A product?)
  # each roaw represents a patient

# 5. Is this a classification or regression problem?
  # classification becuase it is looking to predict yes or no for getting a stroke

# 6. How many features does the data have?
  # 12

# 7. How many rows are in the dataset?
  # 5111

# 8. What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?
  # Smoking patterns might be a challenege when trying to classify groups

In [ ]:
df_h = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRiaKjvcxcR8GqKwRjuXqS6FDOMWfR0aaXFr5MhJnPJMvKjmsx_OP9FA7Qp3JYDuh7PM4vWDkGlfir8/pub?output=csv")
df_h.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
# Second choice: Heart Failure Prediction Data

# 1. Source of data
  # Data was pulled from Kaggle.com

# 2. Brief description of data
  # The data is pulled from multiple sources on the different clinical features for predicting heart disease events.

# 3. What is the target?
  # the trget is to show 11 clinical features for predicting heart disease events and how machine learning can help with early detection

# 4. What does one row represent? (A person?  A business?  An event? A product?)
  # Each row represents a patient

# 5. Is this a classification or regression problem?
  # This would be considered classification because we are classifying if someone is likely to get heart disease or not

# 6. How many features does the data have?
  # 12

# 7. How many rows are in the dataset?
  # 919

# 8. What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?
  # Some of the clinical features might be difficult to model because of multiple classification